
.logo__wrapper {
    margin: 0 auto;
    display: flex;  
 width: 400px;
 cursor: pointer;

}

.logo {
    width: 18rem;
    margin: 0 auto;
    display: flex;
   
   
}


/* @media (max-width: 960px) {
    .navbar__links {
      display: none;
    }
  
    .hamburger__menu {
      display: flex;
    }
  } */
  
  @media (max-width: 500px) {

    .logo__wrapper{
margin-left: 2rem;
width: 200px;
    }
    .logo {
        
      width: 10rem;
      
    }
  }
  