.product {
  width: 300px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.img__wrapper {
  overflow: hidden;
  z-index: 0;

  width: 100%;
  height: 85%;
}
.img__wrapper > img:hover {
  transform: scale(1.2);
  filter: brightness(92%);
}
.img__wrapper > img {
  transition: transform 0.5s;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product:hover .info__button {
  opacity: 1;
}

.product__info > p {
  margin-bottom: 8px;
}

.info__price {
  font-weight: bold;
  color: #2d190d;
}

.info__name {
  font-size: 1rem;
  overflow: hidden;
  color: #2d190d;
}

.info__description {
  font-size: 0.8rem;
}

.info__button {
  top: 0;
  position: absolute;
  text-decoration: none;
  text-align: center;
  color: #2d190d;
  width: 100%;
  padding: 8px 16px;
  font-size: 1rem;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: opacity 0.35s ease;
}

.info__button:hover {
  color: #f4f4f4;
}

@media (max-width: 1232px) {
  .product {
    width: 360px;
  }
}

@media (max-width: 1115px) {
  .product {
    width: 330px;
  }
}

@media (max-width: 1028px) {
  .product {
    width: 300px;
  }
}

@media (max-width: 950px) {
  .product {
    width: 400px;
  }
}

@media (max-width: 830px) {
  .product {
    width: 330px;
    margin-top: 4.5rem;
  }
}

@media (max-width: 700px) {
  .product {
    width: 290px;
  }
}

@media (max-width: 630px) {
  .product {
    width: 450px;
  }
}

@media (max-width: 500px) {
  .product {
    width: 350px;
  }
}

@media (max-width: 400px) {
  .product {
    width: 300px;
  }
}
