.about__wrapper {
  margin: 0 auto;
  width: 85%;
}
.about__h1 {
  color: #2d190d;
  letter-spacing: 0.5rem;
  text-align: center;
  text-transform: uppercase;
  font-family: Oldstyle;
}
@font-face {
  font-family: "Oldstyle";
  /* src: url("../../assets/fonts/Oldstyle/OLDSH___.TTF"); */
  src: url("../../assets/fonts/Oldstyle/OLDSIH__.TTF");

  font: "Oldstyle";
}

.matinho__wrapper {
  display: flex;
  margin-left: 1rem;
}
.matinho__h1 {
  margin-top: 6rem;
  margin-left: 10rem;
  letter-spacing: 0.7rem;
  text-transform: uppercase;
  font-family: Oldstyle;
}

.matinho__img {
  width: 16%;
}

.matinho__desc {
  line-height: 2.5rem;
  word-spacing: 0.2rem;
  font-size: 1.21rem;
  padding: 1.5rem;
  width: 80%;
  opacity: 0.99;
  font-style: italic;
  font-family: Oldstyle;
}

.maozinha__wrapper {
  display: flex;

  justify-content: flex-end;
}
.maozinha__h1 {
  margin-top: 6rem;
  margin-bottom: 2rem;
  font-style: italic;
  margin-left: 47rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
  font-family: Oldstyle;
}
.maozinha__img {
  width: 24%;
}

.maozinha__desc {
  line-height: 2.5rem;
  word-spacing: 0.2rem;
  padding: 1.5rem;
  width: 80%;
  opacity: 0.99;
  font-size: 1.22rem;
  font-family: Oldstyle;
}

#coelhoImg {
  width: 19%;
}

#coelhoh1 {
  margin-top: 10rem;
}
#bioh1 {
  margin-top: 10rem;
}
#terapeuticoImg {
  width: 22%;
}

#terapeuticoh1 {
  margin-top: 10rem;
}
