.capa__wrapper {
  margin: 0 auto;
}
.destaques__products {
  display: flex;
  margin: 2rem auto;

  width: 1100px;
  height: 400px;
}

.destaques__img {
  overflow: hidden;
  z-index: 0;
  margin-left: 3rem;
}

.destaques__img > img {
  width: 100%;
  height: 80%;
  object-fit: cover;
}
.destaquesh1 {
  font-family: Oldstyle;
  font-size: 1.6rem;
  color: #2d190d;
  letter-spacing: 0.5rem;
  text-align: center;

  text-transform: uppercase;
}
.destaques__grid {
  object-fit: cover;
}
#post2h2 {
  margin-top: 6rem;
}

#lancamentosimg {
  margin-left: 3rem;
}

#depoimentodesc {
  font-size: 0.95rem;
  width: 40%;
  margin-left: 8rem;
}
.destaques__wrapper {
  margin-top: 3rem;

  text-align: center;
}

.destaques__img {
  width: 32%;
}
