.blog__wrapper {
  margin: 0 auto;
  text-align: center;
}

.blog__post1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
  width: 950px;
  margin-top: 2rem;
  grid-gap: 2rem;
}

.p__post1 {
  line-height: 1.35rem;
}

#h1__post2 {
  margin-top: 3rem;
}

.instagram__wrapper {
  margin: 3rem auto;
  display: grid;
  grid-gap: 1.7rem;
  grid-template-columns: repeat(3, 1fr);
  width: 950px;
}

.img__insta {
  height: 300px;
  cursor: pointer;
}

.img__insta:hover {
  filter: brightness(70%);
  background: rgba(0, 0, 0, 0.4);
}

#insta__h1 {
  margin-top: 3rem;
}

@media (max-width: 960px) {
  .blog__post1 {
    grid-template-columns: repeat(1, auto);
    width: 600px;
  }

  .blog__h1 {
    margin-top: 2rem;
  }

  .instagram__wrapper {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 830px) {
  .blog__post1 {
    width: 550px;
  }
  .instagram__wrapper {
    width: 550px;
  }
}

@media (max-width: 630px) {
  .blog__post1 {
    width: 300px;
  }

  .instagram__wrapper {
    width: 300px;
  }
}
