* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
 font-family: Calluna Semibold,-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
 Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-image: url("./assets/images/Branco.jpg"); 
 
  background-size: cover;
border: 2rem solid transparent;
}

@media (max-width: 500px) {

 body {
  border: 1rem solid transparent;
 }
}


@font-face {
  font-family: "Calluna Semibold";
  src: url("./assets/fonts/CallunaSemibold/CallunaSemibold.otf");;
  font: 'Calluna Semibold';
}


img {
  width: 100%;
  object-fit: contain;
}
